/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Ocultar scrollbar pero mantener funcionalidad */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

/* Utilidades extra */
.aspect-videos {
    aspect-ratio: 16 / 9;
}

.center-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}